---
import ContentLayout from "../../layouts/ContentLayout.astro";

import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const publishDate =
  "" +
  ((entry.data.pubDate.getMonth() + 1).toString().length < 2
    ? "0" + (entry.data.pubDate.getMonth() + 1)
    : entry.data.pubDate.getMonth() + 1) +
  " / " +
  (entry.data.pubDate.getDate().toString().length < 2
    ? "0" + entry.data.pubDate.getDate()
    : entry.data.pubDate.getDate()) +
  " / " +
  entry.data.pubDate.getFullYear();
const lastUpDate =
  "" +
  ((entry.data.upDate.getMonth() + 1).toString().length < 2
    ? "0" + (entry.data.upDate.getMonth() + 1)
    : entry.data.upDate.getMonth() + 1) +
  " / " +
  (entry.data.upDate.getDate().toString().length < 2
    ? "0" + entry.data.upDate.getDate()
    : entry.data.upDate.getDate()) +
  " / " +
  entry.data.upDate.getFullYear();
---

<ContentLayout title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <div class="flex justify-between">
    <div>
      Publish date: {publishDate}
    </div>

    <div>
      Last update: {lastUpDate}
    </div>
  </div>
  <Content />
</ContentLayout>
