---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout>
  <div id="zhDes">
    <p class="text-textPrimary">
    </p>
  </div>
  <div id="enDes">
    <p class="text-textPrimary">
    </p>
  </div>
</ContentLayout>
