---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aromia</title>
  </head>
  <body>
    <div class="text-center">
      <b>
        <h1 class="mt-5 text-3xl">Aromia</h1>
      </b>

      <a href="bookmarks" class="mt-5 text-blue-500">my bookmarks</a>
    </div>

    <script is:inline>
      const registerServiceWorker = async () => {
        if ("serviceWorker" in navigator) {
          try {
            const registration = await navigator.serviceWorker.register("/sw.js", {
              scope: "/bookmarks",
            });
            if (registration.installing) {
              console.log("Service worker installing");
            } else if (registration.waiting) {
              console.log("Service worker installed");
            } else if (registration.active) {
              console.log("Service worker active");
            }
            console.log("The scope of the service worker is " + registration.scope);
          } catch (error) {
            console.error(`Registration failed with ${error}`);
          }
        }
      };

      registerServiceWorker();
    </script>
  </body>
</html>
