---
import { Image } from "astro:assets";
import banner from "../images/banner.jpg";
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout title="Aromia's Homepage">
  <a href="https://www.pixiv.net/artworks/66812659" class="pointer-events-none">
    <Image src={banner} alt="banner" class="m-0 h-52" />
  </a>
  <h1 class="my-2">Aromia ≡/ᐠ. ˍ .ᐟ\≡</h1>
  <div id="zhDes">
    <p>
      嗨嗨嗨嗨，这里是一只 Aromia～ <br />
      请用中文 / English / 日本語（勉強ing）和我聊天！ <br />
      喜好数学 & <a href="https://github.com/Arom1a">计算机</a>、是个音游玩家、
      <a href="blog/zh/violet-collection">喜欢的颜色</a>是薰衣草紫！！
    </p>

    <p>
      <b> 感激一点，善良一点。 </b>
    </p>
  </div>

  <div id="enDes">
    <p>
      Hiiii, this is Aromia~ <br />
      Let's chat in 中文 / English / 日本語（勉強ing）! <br />
      I'm a math & <a href="https://github.com/Arom1a">CS addict</a>, a MUG player, and the
      <a href="blog/en/violet-collection">colors I like</a> are violets!!
    </p>

    <p>
      <b> Be grateful, be kind. </b>
    </p>
  </div>
</ContentLayout>
