@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* dark mode first */
@theme {
  /* across all themes */
  --font-copperplate: "Snell Roundhand";

  /* overridable  variables*/
  --color-bg-color: oklch(0 0 0);
  --color-theme: oklch(0.9 0.04 300);
  --color-text-primary: oklch(92% 0.01 255);
  --color-text-muted: oklch(75% 0.01 255);
}

/* light mode */
:root[data-theme="light"] {
  --color-bg-color: oklch(0 0 0);
}

/* tailwind topygraphy patch */
.prose {
  --tw-prose-body: var(--color-text-primary);
  --tw-prose-headings: var(--color-text-primary);

  /* remove tailwind prose backticks */
  code:not(pre code)::before,
  code:not(pre code)::after {
    content: none;
  }

  code:not(pre code) {
    @apply text-text-primary rounded bg-neutral-800 px-1.5 py-0.5;
  }
}
