---
import LanguageToggle from "./LanguageToggle.astro";
import ThemeToggle from "./ThemeToggle.astro";
import ToTop from "./ToTop.astro";
---

<div class="fixed bottom-0 right-0 mb-6 mr-6">
  <LanguageToggle />
  <ThemeToggle />
  <ToTop />
</div>
