<button id="languageToggle" class="grid size-[30px] content-center">
  <span id="enSign" style="grid-row: 1; grid-column: 1" class="m-auto text-2xl text-textPrimary"
    >en</span
  >
  <span id="zhSign" style="grid-row: 1; grid-column: 1" class="m-auto text-2xl text-textPrimary"
    >zh</span
  >
</button>

<script is:inline>
  const lang = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("lang")) {
      return localStorage.getItem("lang");
    }
    //if (user device language){}
    return "en";
  })();

  window.localStorage.setItem("lang", lang);

  let enSign = document.getElementById("enSign");
  let zhSign = document.getElementById("zhSign");
  let enList = document.getElementById("en-list");
  let zhList = document.getElementById("zh-list");
  let enDes = document.getElementById("enDes");
  let zhDes = document.getElementById("zhDes");

  if (lang === "en") {
    if (zhList) zhList.classList.toggle("hidden");
    if (zhDes) zhDes.classList.toggle("hidden");
    zhSign.classList.toggle("hidden");
  } else {
    if (enList) enList.classList.toggle("hidden");
    enSign.classList.toggle("hidden");
    if (enDes) enDes.classList.toggle("hidden");
  }

  const handleLangClick = () => {
    let changeLang = localStorage.getItem("lang") === "en" ? "zh" : "en";
    localStorage.setItem("lang", changeLang);
    if (zhList) zhList.classList.toggle("hidden");
    if (zhDes) zhDes.classList.toggle("hidden");
    zhSign.classList.toggle("hidden");
    if (enList) enList.classList.toggle("hidden");
    if (enDes) enDes.classList.toggle("hidden");
    enSign.classList.toggle("hidden");
  };

  document.getElementById("languageToggle").addEventListener("click", handleLangClick);
</script>
