---
import { Image } from "astro:assets";
import profPhoto from "../images/aromia.png";

const pathname = new URL(Astro.request.url).pathname;
console.log(pathname);
---

<div
  class="flex gap-4 border-b-4 border-textPrimary bg-primary/20 p-2 md:sticky md:top-32 md:col-span-2 md:mr-5 md:mt-52 md:flex-col md:items-end md:self-start md:border-b-0 md:bg-transparent md:p-0 xl:col-span-3"
>
  <div class="ml-4 flex flex-col md:ml-0 md:items-end">
    <Image src={profPhoto} alt="profile photo" class="size-20 bg-primary text-textPrimary" />
    <p>
      <b><h1 class="text-2xl text-textPrimary md:text-3xl">Aromia</h1></b>
    </p>
  </div>

  <div class="text-textTheme mt-auto flex flex-col gap-2">
    <div class="flex gap-4 text-xl md:flex-col md:items-end md:gap-0">
      <p>
        <a
          href="/"
          class={`hover:text-textThemeEnphasize ${pathname === "/" ? "underline decoration-2 underline-offset-4" : ""}`}
          >Home</a
        >
      </p>
      <p class="hidden">
        <a href="https://about.arom1a.com" class={`text-linkPrimary hover:text-linkHover`}>About</a>
      </p>
    </div>

    <div class="flex gap-2 md:flex-col md:items-end md:gap-0">
      <p>
        <a
          href="/blogs"
          class={`hover:text-textThemeEnphasize ${pathname.startsWith("/blogs") ? "underline decoration-2 underline-offset-4" : ""}`}
          >Blogs</a
        >
      </p>
      <p>
        <a
          href="/photos"
          class={`hover:text-textThemeEnphasize ${pathname.startsWith("/photos") ? "underline decoration-2 underline-offset-4" : ""}`}
          >Photo Collection</a
        >
      </p>
      <p>
        <a
          href="/covers"
          class={`hover:text-textThemeEnphasize ${pathname.startsWith("/covers") ? "underline decoration-2 underline-offset-4" : ""}`}
          >Cover Collection</a
        >
      </p>
    </div>

    <div class="flex gap-2 text-lg md:flex-col md:items-end md:gap-0">
      <p>
        <a
          href="/friends"
          class={`hover:text-textThemeEnphasize ${pathname.startsWith("/friends") ? "underline decoration-2 underline-offset-4" : ""}`}
          >Friends</a
        >
      </p>
      <p>
        <a
          href="/bookmarks"
          class={`hover:text-textThemeEnphasize ${pathname.startsWith("/bookmarks") ? "underline decoration-2 underline-offset-4" : ""}`}
          >Bookmarks</a
        >
      </p>
    </div>
  </div>
</div>
