---

---

<div class="sticky top-32 mr-5 mt-52 flex flex-col items-end gap-4 self-start">
  <div class="h-16 w-16 overflow-hidden border-2 border-black">a profile photo</div>

  <div class="flex flex-col items-end">
    <p>
      <b><h1 class="text-3xl">Aromia</h1></b>
    </p>

    <p class="hidden">
      <a href="https://about.arom1a.com">About</a>
    </p>
  </div>

  <div class="flex flex-col items-end">
    <p><a href="/" class="text-blue-400 hover:text-blue-500">Home</a></p>
    <p><a href="/blogs" class="text-blue-400 hover:text-blue-500">Blogs</a></p>
    <p><a href="/photos" class="text-blue-400 hover:text-blue-500">Photo Collection</a></p>
    <p><a href="/covers" class="text-blue-400 hover:text-blue-500">Cover Collection</a></p>
    <p><a href="/friends" class="text-blue-400 hover:text-blue-500">Friends</a></p>
    <p><a href="/bookmarks" class="text-blue-400 hover:text-blue-500">Bookmarks</a></p>
  </div>
</div>
