<button aria-label="scroll to top">
  <span
    onclick="toTop()"
    id="toTopBtn"
    style="grid-row: 1; grid-column: 1"
    class="m-auto text-2xl text-textPrimary"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      ><path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M12 4v16m5-11s-3.682-5-5-5s-5 5-5 5"
        color="currentColor"></path></svg
    >
  </span>
</button>

<script is:inline>
  function toTop() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }
</script>
